KERNEL=="hidraw*", SUBSYSTEM=="hidraw", SYSFS{idVendor}=="04b4", SYSFS{idProduct}=="0f1f", MODE="0666"
KERNEL=="hidraw*", SUBSYSTEM=="hidraw", SYSFS{idVendor}=="16c0", SYSFS{idProduct}=="088b", MODE="0666"
